fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
sqlalchemy
psycopg[binary]
alembic
numpy
torch==2.5.1
torchvision==0.20.1
gsplat==1.5.3
Pillow
imageio
tqdm
opencv-python
pycolmap
piexif
scikit-learn
scipy
matplotlib
pyyaml
torchmetrics
tensorboard
tyro